[mysqld]
sql_mode='NO_ENGINE_SUBSTITUTION'
autocommit=0
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
tmp_table_size=256m
server_id=0
gtid_mode=OFF
enforce_gtid_consistency=OFF
lower_case_table_names=1
